
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  margin:0;
  padding:0px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-text-size-adjust: 100%; */


}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding:0px;
  display: flex;
  place-items: center;
  font-family: 'Montserrat', sans-serif;
  
  /* min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.input-custom {
  width: 100%;
  max-width: 452px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #333333;
  transition: all 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.input-custom::placeholder {
  color: #999999;
}

.input-custom:focus {
  outline: none;
  border-color: #00C9A7;
  box-shadow: 0 0 0 3px rgba(0, 201, 167, 0.2);
  background-color: #FAFDFD;
}
.textarea-custom {
  width: 100%;
  max-width: 452px;
  min-height: 120px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #333333;
  resize: vertical;
  transition: all 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.textarea-custom::placeholder {
  color: #999999;
}

.textarea-custom:focus {
  outline: none;
  border-color: #00C9A7;
  box-shadow: 0 0 0 3px rgba(0, 201, 167, 0.2);
  background-color: #FAFDFD;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #646cff; */
  background-color: #00C9A7;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    /* color: #747bff;
     */
  background-color: #00C9A7;

  }
  button {
    background-color: #f9f9f9;
  }
  label{
    font-weight:bolder;
    margin:5px
  }
}


.tech-carousel {
  display: inline-flex;
  gap: 20px;
  animation: scrollTech 20s linear infinite;
}

@keyframes scrollTech {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.tech-carousel:hover {
  animation-play-state: paused;
} 